* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: solid 2px red;
    height: 100vh;
}

header {
    border: solid 2px blue;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    border: solid 2px green;
    display: inline-block;
    width: 100px;
    height: 50px;
}